
nav{
    display: flex;
    justify-content:space-between;
}
body{
    font-size: 1.5rem;
}
.test{
    height: 80%;
}
#contain {
    margin: 20px;
    width: 200px;
    height: 200px;
}
.flexr{
    display: flex;   
    flex-direction: row;
    justify-content:center;
    justify-content:space-around;
}

.flexc{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.reloj {
    background-color: rgb(185, 185, 185);
    border-radius: 50%;
    width: 15rem;
    height:15rem;

}
.reloj-font{
    font-size: 3.5rem;
}
.contadorr{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.botones{

}
.botones-padding{
    padding-top: 50px;
    padding-bottom: 50px
}
input{
    width: 90px;
    height: 30px;
}
.flexr_between{
    justify-content:space-between;
} 
.flexr .input{
    width:95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.configuration .flexr{
    padding-top: 20px;
    padding-bottom: 20px;
}
.play-stop-button{
    width: 125px;
    height: 50px;
}
.play-stop-button p{
    margin:0px;
}

@media(max-width: 375px){
    
}